<div id="beer-homepage">
    <img src="/images/beer.png" alt="Beer png"/>
</div>

<div class="buttons">
     <a href="/beers">Check the Beers!</a>
    <a href="/random-beer">Check a Random Beer</a>
</div>